<%@ Page Title="" Language="VB" MasterPageFile="~/index.master" AutoEventWireup="false" CodeFile="club.aspx.vb" Inherits="club" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">  
  <section>
	    <article style="text-align: center;">
		    <h1>El Club</h1>			
            <p>El Club Atlético Boca Juniors es una entidad deportiva argentina con sede en el barrio de La Boca, Buenos Aires. Fue fundado en dicho barrio el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos. El fútbol es su disciplina más destacada, aunque también compite a nivel profesional, nacional e internacionalmente, en baloncesto, voleibol, futsal y fútbol femenino mientras que deportes como el boxeo, judo, karate, taekwondo, gimnasia rítmica y gimnasia artística se practican a nivel amateur. Actualmente se desempeña en la Superliga Argentina.</p>
            <p>Boca Juniors participa de la Primera División de fútbol desde 1913 y, a partir del Torneo Inicial 2013, se convirtió en el único club que disputó todas las temporadas en Primera División desde el comienzo del profesionalismo en 1931. Además, es el equipo con mayor cantidad de partidos disputados.8​ A partir del 8 de junio de 2015, Boca Juniors batió el récord de mayor permanencia ininterrumpida en Primera División, con 37 312 días.9​ El equipo juega sus partidos como local en el estadio Alberto J. Armando, conocido mundialmente como La Bombonera</p>
            <p> nivel local, el club cuenta con 34 campeonatos de liga de Primera División10​ y 13 copas nacionales (récord argentino), entre las que se destacan tres ediciones de la Copa Argentina (máximo ganador del certamen: 1969, 2011-12 y 2014-15) y la Supercopa Argentina 2018. También posee un título honorífico de la era amateur: la Copa de Honor, obtenida en 1925; un reconocimiento de la AFA a su exitosa gira por Europa en dicho año</p>
            <p> nivel internacional, es el segundo club con más títulos oficiales en el mundo (22), entre los cuales posee 18 a nivel confederativo e interconfederativo (FIFA y Conmebol) y 4 copas rioplatenses (AFA-AUF); y es el club con más títulos internacionales oficiales en toda América. Asimismo, es el máximo campeón de la Copa Intercontinental (3) a nivel mundial, junto con Peñarol, Nacional, Milan y Real Madrid. Además, es el club de América con más finales de copas internacionales confederativas con 28 (3.º a nivel mundial, detrás de las 39 del Real Madrid y las 33 del Milan).12​ Inclusive, es el club récord de finales de Copa Libertadores de América: 11, y también es el segundo club con mayor cantidad de Libertadores ganadas con seis, detrás de Independiente, que tiene siete.</p>
            <p>Sumando torneos nacionales e internacionales, es el club más exitoso y con mayor cantidad de títulos en la historia del fútbol argentino: 69 títulos oficiales, lo cual, lo convierte en el club más campeón del país. A su vez, es uno de los equipos más exitosos en el profesionalismo, y también del amateurismo, solamente superado por el extinto Alumni y Racing Club. Inclusive, es el único club del país en haber logrado al menos un título por década y uno de los dos equipos argentinos (junto con Racing) que más veces salió campeón de forma invicta: 5 (en 1919, 1924, 1926, 1998 y 2011).14​ Al mismo tiempo, fue el segundo club argentino (por detrás de Racing) en alzarse con cuatro títulos oficiales en un solo año, al proclamarse campeón de la Primera División de Argentina, de la Copa Dr. Carlos Ibarguren, de la Copa de Competencia Jockey Club y de la Cup Tie Competition, todo en el año 1919 (precisamente, estos fueron los primeros cuatro campeonatos obtenidos en la historia del club)</p>
		    <img src="escudo.png" style="width: 400px; height: auto;" id="headerboca" title="title" alt="boca" />
        </article>		
	</section>
</asp:Content>  

