<%@ Page Title="" Language="VB" MasterPageFile="~/index.master" AutoEventWireup="false" CodeFile="index.aspx.vb" Inherits="index" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">  
    <section>
	    <article style="text-align: center;">
            <h1>Pagina principal</h1>
            <p>Bienvenidos a la página no oficial del Club Atlético Boca Juniors</p>
            <p>La producción recién está comenzando, aquí encontrará la información importante al instante</p>
            <p>Seguinos en todas las redes sociales!</p>  
        </article>		
    </section>
</asp:Content>

