#header {  
    color: #1A1A88;  
    text-align: center;  
    font-size: 20px;  
}  
#nav    {  
    background-color:#1A1A88;  
    padding: 5px;  
}
#headerboca {
    height:270px;
    width: 100%;
    position: relative;
    background: none;
}
ul  {  
    list-style-type: none;  
}  
li a {  
    color: #F1FAEE;  
font-size: 20px;  
column-width: 5%;  
}  
li  {  
    display: inline;  
    padding-left: 2px;  
    column-width: 20px;  
}  
a   {  
 text-decoration: none;  
 margin-left:20px  
    }  
li a:hover  {  
    background-color: #E7CB19;  
    color: #002DAE;  
    padding:1%;  
}  
#side   {  
    text-decoration: none;
    text-align: center;  
    float: left;  
    width: 15%;  
    padding-bottom: 79%;  
    background-color: #1A1A88;  
    color: white;  
    font-size: 20px;   
}
aside a:hover {
    background-color: #E7CB19;
    color: #002DAE;
    padding: 1%;
}  
aside a     {  
    color: #F1FAEE;  
font-size: 20px;  
column-width: 5%;  
} 
#article    {  
    background-color: #1A1A88;  
    padding: 10px;  
    padding-bottom: 75%;  
}  
#footer {  
    background-color: #1A1A88;  
    color: #F1FAEE;  
    text-align:center;  
    padding-bottom: 5%;  
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;  
}  
#con {  
    border:double;  
    border-color:burlywood; 

   }  
   
   body {
           background-color: #E3E61B;  

       
}
